<p id="notice"><%= notice %></p>

<p>
  <strong>Repo:</strong>
  <%= @blog.repo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @blog.email %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
